<a href="https://colab.research.google.com/github/cindyyputri/python_training_series/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IFSI46 - Cindy Putri Az Zahra - 09031282126072**

**Python Training Series: Loops**

## Exercises

### Exercises: Level 1

1. Iterate 0 to 10 using for loop, do the same using while loop.

In [1]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
number = 0
while number <= 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9
10

### Exercises: Level 1

2. Iterate 10 to 0 using for loop, do the same using while loop.

In [4]:
for number in range(10, -1, -1):
    print(number)

10
9
8
7
6
5
4
3
2
1
0

In [5]:
number = 10
while number >= 0:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1
0

### Exercises: Level 1

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

   ```py
     #
     ##
     ###
     ####
     #####
     ######
     #######
   ```

In [6]:
for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

### Exercises: Level 1

4. Use nested loops to create the following:

   ```sh
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   ```

In [7]:
for i in range(8):
    for j in range(8):
        print('#', end=' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

### Exercises: Level 1

5. Print the following pattern:

   ```sh
   0 x 0 = 0
   1 x 1 = 1
   2 x 2 = 4
   3 x 3 = 9
   4 x 4 = 16
   5 x 5 = 25
   6 x 6 = 36
   7 x 7 = 49
   8 x 8 = 64
   9 x 9 = 81
   10 x 10 = 100
   ```

In [8]:
for i in range(11):
    print(f"{i} x {i} = {i * i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

### Exercises: Level 1

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask']

In [9]:
skills = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for item in skills:
    print(item)

Python
Numpy
Pandas
Django
Flask

### Exercises: Level 1

7. Use for loop to iterate from 0 to 100 and print only even numbers

In [11]:
for number in range(0, 101):
    if number % 2 == 0:
        print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Exercises: Level 1

8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [12]:
for number in range(0, 101):
    if number % 2 == 1:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Exercises: Level 2

1.  Use for loop to iterate from 0 to 100 and print the sum of all numbers.
    ```sh
    The sum of all numbers is 5050.
    ```

In [14]:
total_sum = 0

for number in range(101):
    total_sum += number

print("The sum of all numbers is", total_sum)

The sum of all numbers is 5050

### Exercises: Level 2
    
2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
    ```sh
    The sum of all evens is 2550. And the sum of all odds is 2500.
    ```

In [15]:
sum_evens = 0
sum_odds = 0

for number in range(101):
    if number % 2 == 0:
        sum_evens += number
    else:
        sum_odds += number

print(f"The sum of all evens is {sum_evens}. And the sum of all odds is {sum_odds}.")

The sum of all evens is 2550. And the sum of all odds is 2500.